<nav id="navigation-products">
    <div class="container">
        <div id="responsive-nav-products">
            <ul class="main-nav-products">
                <li>
                    <a href="{% url 'main:category' 0 %}" class="{% if request.resolver_match.kwargs.pk == 0 %}
                  active
                {% endif %}">
                        All
                    </a>
                </li>
                {% for i in categories_list %}
                <li>
                    <a href="{% url 'main:category' i.pk %}" class="{% if request.resolver_match.kwargs.pk == i.pk %}
                  active
                {% endif %}">
                        {{ i.name|capfirst }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>